/Osa1/tehtava1/node_modules/
/Osa1/harjoitus1/
/Osa1/unicafe/node_modules/
/Osa1/anekdootit/node_modules/
/Osa2/harjoitus2/
/Osa2/tehtava2/node_modules/
/Osa2/puhelinluettelo/node_modules/
/Osa2/puhelinluettelo/dist/
/Osa3/
/Osa4ja5/node_modules/
/Osa4ja5/.env
